$border-color: (#032541 !important);
$panel-color: (linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%) !important);
$background-grey: (#204529);
$backgroundColor: (#032541);
$white: (#ffffff);
$tmdbDarkBlue: (#081c22);
$sevenUp: (#21d07a !important);
$sevenDown: (#d2d531 !important);
