@import "variable";

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.panelItemBack {
  border:1px solid $border-color;
  border-radius: 10px !important;
}
.headerItem {
  padding-top: 15px !important;
}
.dot {
  border-color: transparent !important;
}
.dot:hover {
  border-color: transparent !important;
}
.ui.dropdown {
  position: absolute;
  .menu {
    right: 2px !important;
    left: auto !important;
    .selected.item {
      color: $border-color;
    }
  }
}
.ui.secondary.menu {
  .link.item:active,.link.item:focus
  , a.item:active, a.item:focus{
    border-radius: 25px !important;
    background-position-x: 0;
    background-position-y: 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(192, 254, 207) 0%, rgb(30, 213, 169) 100%) repeat scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
  }
}


.ideaIconT {
  top: 20px;
  right: 16px;
  z-index: 1 !important;
}
.circle {
  position: absolute;
  top: 10rem;
  left: 0;
}
.circleItem {
  position: absolute;
  top: 20px;
  width: 35px;
  height: 35px;
  left: 20px;
  border-radius: 15px;
  background-color: $background-grey;
}
.tabHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.tabBut {
  border-radius: 18px !important;
  background-color: transparent !important;
  color: $tmdbDarkBlue;
  z-index: 1;
}
.tabButActive {
  border-radius: 18px !important;
  background-color: $backgroundColor !important;
  z-index: 1;
}
.tabButAct {
  border-radius: 18px !important;
  background-color: $backgroundColor !important;
  margin-left: 15px;
  z-index: 1;
}
.spanned {
  background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
